# Assignment No. 2

# 1.What are the two values of the Boolean data type? How do you write them?

Answer:

    There are two values of the boolean data type: 0 and 1 which are 
    written as False and True respectively. Let us have python code for this as shown below:

In [1]:
x=False
y=True
print(x)
print(y)

False
True

In [2]:
# Defining the type of the x and y using type() function
print("The data type of x is: ",type(x))
print("The data type of y is: ",type(y))

The data type of x is:  <class 'bool'>
The data type of y is:  <class 'bool'>

# 2. What are the three different types of Boolean operators?

Answer:
    
    Three different types of Boolean operators are : and, or and not
    Let us illustrate them with the help of example shown below

1.  'and' operator :
    
   The 'and' operator returns true if both of its operands are true.For example

In [3]:
a= True
b=False
c=False
d=True
print(a and b)  # this will print False
print(b and c)   # this will print False
print(c and d)   # this will print False
print(a and d)  # this will print True

False
False
False
True

2. ' or '  operator:
    
    The ' or ' operator returns  True if one of the operands is True. For Example

In [4]:
a= True
b=False
c=False
d=True
print(a or b)  # this will print True
print(b or c)   # this will print False
print(c or d)   # this will print True
print(a or d)  # this will print True

True
False
True
True

3. ' not ' operator:
    
    the ' not ' operator negates or reverses the Boolean value of its operands.
    i.e It returns True if its operand is False, and False if its operand is True.

In [5]:
a= True
b=False

print(not a) # this will print False
print(not b)  # this will print True

False
True

# 3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

Answer:
    
    AS we have seen above:
        
        True and True is True.

        True and False is False.

        False and True is False.

        False and False is False.

        True or True is True.

        True or False is True.

        False or True is True.

        False or False is False.

        not True is False.

        not False is True.
        

Let us make a list of each Boolean operators truth table by representing the
False by 0 and true by 1.


1:--- Truth table for ' and '  operator

X        Y               output(X and Y)

0        0                    0

0        1                    0

1        0                    0

1        1                    1



2:---- Truth table for ' or '  operator


X        Y               output(X or Y)

0        0                    0

0        1                    1

1        0                    1

1        1                    1

2:---- Truth table for ' not '  operator


X                     output( not x)

0                          1

1                          0

# 4. What are the values of the following expressions?

(5 &gt; 4) and (3 == 5)

not (5 &gt; 4)

(5 &gt; 4) or (3 == 5)

not ((5 &gt; 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

Answer:

The value of '(5 > 4) and (3 == 5)' is False, as shown below

In [6]:
print((5 > 4) and (3 == 5))

False

The value of 'not (5 > 4)' is False, as shown below

In [7]:
print(not (5 > 4))

False

The value of '(5 > 4) or (3 == 5)' is True, as shown below

In [8]:
print((5 > 4) or (3 == 5))

True

The value of 'not ((5 > 4) or (3 == 5))' is False, as shown below

In [9]:
print(not ((5 > 4) or (3 == 5)))

False

The value of '(True and True) and (True == False)'  is  False, as shown below:

In [10]:
print((True and True) and (True == False))

False

The value of '(not False) or (not True)' is True, as shown below:

In [11]:
print((not False) or (not True))

True

# 5. What are the six comparison operators?

Answer:
    
In python there are six comparison operators used to compare values. These operators return Boolean results (True or False) based on the comparison.

1:--- Equal to('=='):

This operator checks if two values are equal, returns True if they are equal else False

In [12]:
x= 10
y=10
z=30
print(x==y)  # returns true
print(x==z)  # returns false

True
False

2:-- Not Equal to('!='):
        
This operator checks if two values are not equal, returns True if they are not equal else False

In [13]:
x= 10
y=10
z=30
print(x!=y)  # returns false
print(x!=z)  # returns true

False
True

3:-- Greater than('>')
    
This operator checks if the left operand is greater than the right operand.

In [14]:
x= 10
y=30
print(x > y)  # returns false

False

4:-- Less than('<')
    
This operator checks if the left operand is less than the right operand.

In [15]:
x= 10
y=30
print(x < y)  # returns true

True

5:--Greater Than or Equal to (>=)
    
This operator checks if the left operand is greater or equal to the right operand.

In [16]:
x= 10
y=30
print(x >= y)  # returns false

False

6:--Less Than or Equal to (<=)

This operator checks if the left operand is less or equal to the right operand.

In [17]:
x= 10
y=30
print(x <= y)  # returns true

True

# 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

Answer:
    
Equal to operator(==) compares two value and checks whether they are equal or not.
It evalutes to Boolean "True" or "False".

While assignment (=) operator is used to assign a value to a variable.

In [18]:
# For Example

# Equal to(==) operator
if 'a'=='a':
      print("They are Equal")
else:
    print("They are not equal")
    
print("----------------------------------------")

# Assignment(=) operator

x=100 # in this line we assigned 100 to the variable x using assignment operator

print(x)

They are Equal
----------------------------------------
100

7. Identify the three blocks in this code:
    
spam = 0

if spam == 10:

    print('eggs')

if spam > 5:

       print('bacon')

else:

        print('ham,)

        print('spam')

        print('spam')

In [19]:
#Answer:

spam = 0
if spam == 10:
    print('eggs') #Block 1  (if_block)
if spam > 5:
    print('bacon') #Block 2  (if_block)
else:
    print('ham') #Block 3     (else_block)
    print('spam')
    print('spam')

ham
spam
spam

# 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [20]:
spam= int(input("Enter 1 if you want to print Hello, \nEnter 2 if you want to print  Howdy, \nEnter anythibg else if u want to print Greetings"))
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greetings!")

Enter 1 if you want to print Hello,
Enter 2 if you want to print  Howdy,
Enter anythibg else if u want to print Greetings1
Hello

# 9.If your programme is stuck in an endless loop, what keys you’ll press?

Answer:
    
If program is stuck in endless loop we will press ctrl+c.

# 10. How can you tell the difference between break and continue?

Answer:
    
The "break" statement is used to exit (come out of) a the loop when the perticular condition is met. When "break" statement is encountered within the loop, it immidiately terminates the loop and continues with the next code outside the loop.


And the "continue" statement is used to skip the current iteration of the loop if the perticular condition is met. When  "continue" statement within a loop is encountered, it skips the remaining code for the current iteration and moves on to the next iteration of the loop. Let us explain this with the help of an example

In [21]:
# Example for break
for i in range(20):
    if(i==10):
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
# Example for break
for i in range(20):
    if(i==10):
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

# 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Answer:

range(10) creates a range that starts from the default value 0( because there is no starting value),hence range(10) prints the values from 0 to 9 with a step size of 1.

In [23]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

range(0,10) creates a range from 0(starting value) to 9, hence prints the values from 0 to 9 with a step size 1(default, as there is no step size )

In [24]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

range(0,10,1) creates a range from 0(starting value) to 9 with a step size 1,hence prints the values from 0 to 9 with a step 1

In [25]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

# 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

Answer:

In [26]:
# printing the numbers from 1 to 10 using for loop
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
# printing the numbers from 1 to 10 using while loop
i=1
while (i<11):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

# 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Answer:

This fuction is called using the following statement:
    
    spam.bacon()